<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <form method = "POST">
        {% csrf_token %}
        {{ form }}
        <button type = "Submit">Add</button>
    </form>

    <div>
        {% if content %}
            <br>
            {% for note in content %}
                <a href = "{% url "note_detail" note.id %}"><b>{{note.title}}</b></a>
                &nbsp;
                <a href = "{% url "note_delete" note.id %}"><b>Delete</b></a>
                <br>
                <br>
            {% endfor %}
        {% endif %}

        <a href="/users/signout">Signout</a>
    </div>
</body>
</html>